@import 'mixins';

#indexContainer {
    display: flex;

    height: 100vh;
    overflow: hidden;
}

#showcaseContainer {
    overflow-y:  auto;
}

#indexHeader {
    align-self: center;
    nav ul {
        margin-left: 0px;
        text-align: left;
    }
    div:nth-of-type(1) {
        min-width: 500px;
        span {
            color: $black;
            text-align: left;
            h1 {
                font-size: 60px;
            }
            p {
                 font-size: 30px;
                 margin-top: 15px;
                 line-height: 40px;
             }
        }
    }
}

.productHighlight {
    @include padding;
    hr {
        max-width: 450px;
        margin-left: 0px;
    }
    div:nth-of-type(2) {
        margin-top: 10px;
    }
    .productImage {
        margin: 20px auto;
    }
}

#speedometer {
    #speedoImgContainer {
        width: calc(580px);
        margin: auto;
        img {
            width: 170px;
            margin: auto 10px;
        }
    }
}

#schedulerApp {
    #schedulerImgContainer {
        img {
            display: block;
            width: 560px;
            margin: auto;
        }
    }
}

#CMS {
    #CMSImgContainer {
        img {
            display: block;
            width: 560px;
            margin: auto;
        }
    }
}

