@import 'fontSizes';
@import 'variables';

body {
    color: $black;
    background-color: $white;
}

img {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: $black;
}

p {
    margin-bottom: 30px;
}

footer {
    clear: both;
    background-color: $blue;
    padding: 20px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 25px;
        margin: 0 15px;
    }
    p {
        margin: 0;
    }
}

#defaultCanvas0 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

//--------------
//--------------
// CLASSES
//--------------
//--------------

.hideElement {
    display: none;
}

.centerText {
    text-align: center;
}

.cursorHover {
    cursor: pointer;
}

.cursorHover:hover {
    filter: invert(0.4);
}


@import 'resume';
@import 'index';
@import 'funTools';