<footer>
    <a href="https://www.linkedin.com/in/michael-walters-0a061318a/" target="_blank" rel="noopener">
        <img src="/images/linkedIn_Icon.png" alt="Linked In Icon Link">
    </a>
    <a href="https://www.instagram.com/_michael.walters/" target="_blank" rel="noopener">
        <img src="/images/Instagram_Icon.png" alt="Instagram Icon Link">
    </a>
    <a href="https://github.com/Walters8657" target="_blank" rel="noopener">
        <img src="/images/Github_Icon.png" alt="Github Icon Link">
    </a>

    <p>&copy <%= new Date().getFullYear() %> Michael Walters </p>
</footer>

<script src="./js/main.js"></script>

</body>
</html>