<%- include('head', {title: title}) %> 

<body>

<header>
    <div>
        <span>
            <h1>Michael Walters</h1>
        </span>
    </div>

    <%- include('socialLinks') %> 

</header>

<%- include('nav', {page: page}) %> 