<%- include('head', {title: title}) %> 

<body>

<header>
    <div>
        <span>
            <h1>Michael Walters</h1>
            <% if (page == 'Home') { %>
                <p>Full Stack Development</p>
            <% }%>
    
            <% if (page == 'Resume') { %>
                <p>Resume</p>
            <% }%>
        </span>
    </div>

    <%- include('socialLinks') %> 

</header>

<%- include('nav', {page: page}) %> 