<!DOCTYPE html>
<html lang="en">

<head>
    <title>Michael Walters | Development</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main.css">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
</head>

<body>

<header>
    <div>
        <span>
            <h1>Michael Walters</h1>
            <% if (page == 'Home') { %>
                <p>Full Stack Development</p>
            <% }%>
    
            <% if (page == 'Resume') { %>
                <p>Resume</p>
            <% }%>
        </span>
    </div>
</header>

<nav>
    <ul>
        <% if (page == 'Home') { %>
            <li><a href="/" style="background-color:#322b24; padding: 5px; border-radius: 10px; color: #fafafa">Home</a></li>
        <% } else { %>
            <li><a href="/">Home</a></li>
        <% } %>

        <% if (page == 'Resume') { %>
            <li><a href="/resume" style="background-color:#322b24; padding: 5px; border-radius: 10px; color: #fafafa">Resume</a></li>
        <% } else { %>
            <li><a href="/resume">Resume</a></li>
        <% } %>
    </ul>
</nav>