<nav>
    <ul>
        <% if (page == 'Home') { %>
            <li><a href="/" class="navActivePage">Home</a></li>
        <% } else { %>
            <li><a href="/">Home</a></li>
        <% } %>

        <% if (page == 'Resume') { %>
            <li><a href="/resume" class="navActivePage">Resume</a></li>
        <% } else { %>
            <li><a href="/resume">Resume</a></li>
        <% } %>
    </ul>
</nav>