body {
  font-size: 18px;
  line-height: 1.75em;
  font-family: 'Ubuntu', 'Sans-serif';
}

@media (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 2.5em;
}

h2 {
  font-size: 2.25em;
  line-height: 2.75em;
}

h3 {
  font-size: 2em;
  line-height: 2.5em;
}

h4 {
  font-size: 1.75em;
  line-height: 2.25em;
}

h5 {
  font-size: 1.5em;
  line-height: 2em;
}

h6 {
  font-size: 1.25em;
  line-height: 1.75em;
}

body {
  color: #322b24;
  background-color: #fafafa;
}

img {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #322b24;
}

p {
  margin-bottom: 30px;
}

footer {
  background-color: #12487e;
  padding: 20px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 25px;
  margin: 0 15px;
}

footer p {
  margin: 0;
}

.hideElement {
  display: none;
}

.centerText {
  text-align: center;
}

.cursorHover {
  cursor: pointer;
}

.cursorHover:hover {
  filter: invert(0.4);
}

#indexHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#indexHeader #headerLogoImg {
  padding: 3px;
  width: 225px;
  border-radius: 50%;
  border: solid #322b24 6px;
  background-color: #12487e;
}

#indexHeader div span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexHeader p {
  margin: 0;
}

#indexHeader nav ul li {
  display: inline;
}

#showcaseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#showcaseContainer .productImage {
  margin-bottom: 30px;
}

#showcaseContainer .productHighlight {
  width: 40vw;
  margin: 0 30px 30px;
  box-sizing: border-box;
}

#showcaseContainer .productHighlight img {
  max-width: 100%;
}

#speedoImgContainer {
  display: flex;
  justify-content: space-between;
}

#speedoImgContainer img {
  width: 31%;
}

@media (max-width: 900px) {
  #showcaseContainer {
    flex-direction: column;
  }
  #showcaseContainer .productHighlight {
    box-sizing: border-box;
    width: 90vw;
    margin: 0 5vw 30px;
  }
}
