<%- include('../partials/head') %> 

<body>
    <header id="indexHeader">
        <div>
            <span>
                <img id="headerLogoImg" src="images/me.png" alt="Personal Logo">
                <h1>Michael Walters</h1>
                <p>Web Developer & Software Engineer</p>
                <nav>
                    <ul>
                        <li><a>Home</a></li>
                        <li> | </li>           
                        <li><a>Resume</a></li>
                    </ul>
                </nav>
            </span>
        </div>
    </header>
    
    <%- include('../partials/showcaseContainer') %> 
    
    <%- include('../partials/footer') %> 
</body>
</html>
