<%- include ('./../partials/header') %>  

<header>
    <div>
        <span>
            <h1>Michael Walters</h1>
            <p>Full Stack Development</p>
        </span>
    </div>
</header>

<%- include ('./../partials/footer') %>  