<%- include ('./../partials/header', {page: 'Home'}) %>  

<div class="projectBeingBuilt">
    <h2>Woah! You're here early!</h2>
    <div>
        <span></span> <span></span> <span></span>
    </div>
    <p>Please check back later to see if I'm done yet</p>
</div>

<%- include ('./../partials/footer') %>  