<%- include ('./../partials/header', {page: 'Resume', title: "Michael Walters Resume"}) %>   

<div id="resumeContainer">
    <aside id="resumeAside">
        <div>
            <h2>Contact</h2>
            <hr/>
            <p>803-493-7198</p>
            <p>waltersm305@gmail.com</p>
            <p>Rock Hill, South Carolina</p>        
        </div>
        <div>
            <h2>Education</h2>
            <hr>
            <p>Winthrop University</p>
            <p>2017 - 2021</p>
            <p>B.S. Web Application Design</p>
        </div>
        <div>
            <h2>Abilities</h2>
            <hr>
            <ul>
                <li>C++</li>
                <li>CSS</li>
                <li>EJS</li>
                <li>Git</li>
                <li>OOP</li>
                <li>SEO</li>
                <li>SQL</li>
                <li>AJAX</li>
                <li>JSON</li>
                <li>SASS</li>
                <li>SCSS</li>
            </ul>
            <ul>
                <li>Linux</li>
                <li>HTML5</li>
                <li>MySQL</li>
                <li>GitHub</li>
                <li>jQuery</li>
                <li>Node.js</li>
                <li>MongoDB</li>
                <li>Express.js</li>
                <li>JavaScript</li>
                <li>Adobe Suite</li>
                <li>Google Suite</li>
            </ul>
        </div>
    </aside>
    
    <div id="mainResumeContent">
        <p>Comfortable with all facets of web development, including back end server design,database connectivity, HTML markup, and CSS design. I’m interested in using these skills to design and produce web based applications to enhance user experiences.</p>
    
        <hr>
        <h2>Front End Developer | Co-Founder</h2>
        <p>Cloud Music Suite - Monroe, NC</p>
        <p>July 2020 - Present</p>
        <hr>
        <ul>
            <li>Design and implement a responsive system for mobile devices as well as standard desktop screens</li>
            <li>Utilization of Figma and Adobe XD to create functional prototypes that were reviewed and approved by the project team</li>
            <li>Designs were continuously critiqued after initial approval as to improve the overall user experience as tests were conducted with potential users</li>
            <li>After initial approval, implementation began using EJS and Sass</li>
            <li>The majority of the site was built utilizing a mixture of CSS Grid and FlexBox in order to ensure both a consistent and adaptable design and user experience</li>
            <li>As Co-Founder I was also involved in discussion about how and when to move forward with the project, and in doing so, have gained a vast knowledge in how to better manage a team as well as how to establish and adhere to project timelines</li>
        </ul>
    
        <hr>
        <h2>Back End Developer</h2>
        <p>Senior Capstone | Startup Company - Rock Hill, SC
        </p>
        <p>January 2021 - May 2021</p>
        <hr>
        <ul>
            <li>Developed a custom API plugin for use primarily with iPhone </li>
            <li>Used a combination of languages to develop such as: Swift, JavaScript, and MySql, as well as integrating into bubble.io for interfaces and automation</li>
            <li>Simulated the full launch of the product features developed</li>
            <li>Learned how to use Apple’s propitiatory coding languages to interface with health-kit data and in order to store and access it for processing</li>
            <li>Worked within a multidisciplinary team to produce a single cohesive product</li>
            <li>Use asynchronous communication platforms to effectively communicate needs, questions, and updates regarding the project </li>
        </ul>
    </div>
</div>

<%- include ('./../partials/footer') %>  